Repository TOMB5/TOMB5, pull requests merged in 2020-03, with the labels that each got.

#243 Merge develop-gh0stblade->master
  CMAKE/FindD3D9.cmake
  EMULATOR/EMULATOR.C
  EMULATOR/EMULATOR.H
  EMULATOR/EMULATOR_GLOBALS.H
  EMULATOR/EMULATOR_PLATFORM_SETUP.H
  EMULATOR/EMULATOR_VERSION.H
  EMULATOR/KERNEL.H
  EMULATOR/LIBGPU.C
  EMULATOR/PLATFORM/Windows.cmake
  SPEC_PSX/DRAWPHAS.C
  SPEC_PSXPC_N/DRAWPHAS.C
  SPEC_PSXPC_N/LIGHT.C
  SPEC_PSXPC_N/PLATFORM/Windows.cmake
Labels: [Enhancement], [M2], [PSXPC]

#250 Merge develop-zdimension->master
  GAME/CAMERA.C
  GAME/COLLIDE.C
  GAME/CONTROL.C
  GAME/DELSTUFF.H
  GAME/DELTAPAK.C
  GAME/EFFECTS.C
  GAME/GAMEFLOW.C
  GAME/HEALTH.C
  GAME/LARA.C
  GAME/LARA.H
  GAME/LARAMISC.C
  GAME/LARASURF.C
  GAME/LARASWIM.C
  GAME/NEWINV2.C
  GAME/SETUP.C
  GAME/SPOTCAM.C
  GAME/TEXT.C
  GAME/TEXT.H
  GAME/TOMB4FX.C
  GAME/TYPES.H
  README.md
  SPEC_PC_N/DEBUG.CPP
  SPEC_PC_N/DEBUG.H
  SPEC_PC_N/DIRECTX.CPP
  SPEC_PC_N/DIRECTX.H
  SPEC_PC_N/DISPLAY.CPP
  SPEC_PC_N/DISPLAY.H
  SPEC_PC_N/DRAWPRIMITIVE.CPP
  SPEC_PC_N/DRAWPRIMITIVE.H
  SPEC_PC_N/FILE.CPP
  SPEC_PC_N/GAME.CPP
  SPEC_PC_N/GLOBAL.H
  SPEC_PC_N/HWINSERT.CPP
  SPEC_PC_N/INPUT.CPP
  SPEC_PC_N/INPUT.H
  SPEC_PC_N/MATRIX_SHIT.CPP
  SPEC_PC_N/PCSETUP.CPP
  SPEC_PC_N/PCSETUP.H
  SPEC_PC_N/PCTIME.H
  SPEC_PC_N/SPECIFIC.CPP
  SPEC_PC_N/SPECIFIC.H
  SPEC_PC_N/SPECTYPES.H
  SPEC_PC_N/TIME.CPP
  SPEC_PC_N/WINMAIN.CPP
Labels: [Enhancement], [M2], [PC]

#247 fix OGL shaders on AMD
  EMULATOR/EMULATOR.C
  EMULATOR/EMULATOR.H
Labels: [Enhancement], [M2], [PSXPC]

#249 Merge develop-gh0stblade->master.
  EMULATOR/EMULATOR_VERSION.H
  EMULATOR/LIBGPU.C
  GAME/CAMERA.C
  GAME/CONTROL.C
  GAME/DELTAPAK.C
  GAME/TOMB4FX.C
  GAME/TYPES.H
  SPEC_PSXPC_N/BUBBLES.C
  SPEC_PSXPC_N/DELTAPAK_S.C
  SPEC_PSXPC_N/DELTAPAK_S.H
  SPEC_PSXPC_N/LARA1.C
  SPEC_PSXPC_N/MATHS.C
  SPEC_PSXPC_N/PRINTOBJ.C
  SPEC_PSXPC_N/PSXINPUT.C
  SPEC_PSXPC_N/PSXMAIN.C
Labels: [Bug], [Enhancement], [M2], [PSXPC]

#251 Dithering, Blending, Batching, VRAM blit, GTE(34h)
  EMULATOR/EMULATOR.C
  EMULATOR/EMULATOR.H
  EMULATOR/LIBGPU.C
  EMULATOR/shaders/blit_shader.hlsl
  EMULATOR/shaders/compile_d3d9.bat
  EMULATOR/shaders/gte_shader.hlsl
  SPEC_PSXPC_N/GPU.C
Labels: [Enhancement], [M2], [PSXPC]
